In [38]:
import pandas as pd

In [39]:
df=pd.read_csv("playsheet_dataset.csv")

In [40]:
df

     Outlook  Temp Humidity Windy Play
0      Rainy   Hot     High     f   no
1      Rainy   Hot     High     t   no
2   Overcast   Hot     High     f  yes
3      Sunny  Mild     High     f  yes
4      Sunny  Cool   Normal     f  yes
5      Sunny  Cool   Normal     t   no
6   Overcast  Cool   Normal     t  yes
7      Rainy  Mild     High     f   no
8      Rainy  Cool   Normal     f  yes
9      Sunny  Mild   Normal     f  yes
10     Rainy  Mild   Normal     t  yes
11  Overcast  Mild     High     t  yes
12  Overcast   Hot   Normal     f  yes
13     Sunny  Mild     High     t   no

In [41]:
inputs = df.drop('Play',axis=1)
target = df['Play']

In [42]:
inputs

     Outlook  Temp Humidity Windy
0      Rainy   Hot     High     f
1      Rainy   Hot     High     t
2   Overcast   Hot     High     f
3      Sunny  Mild     High     f
4      Sunny  Cool   Normal     f
5      Sunny  Cool   Normal     t
6   Overcast  Cool   Normal     t
7      Rainy  Mild     High     f
8      Rainy  Cool   Normal     f
9      Sunny  Mild   Normal     f
10     Rainy  Mild   Normal     t
11  Overcast  Mild     High     t
12  Overcast   Hot   Normal     f
13     Sunny  Mild     High     t

In [43]:
target

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: Play, dtype: object

In [44]:
from sklearn.preprocessing import LabelEncoder
#imoprt library

In [47]:
Numerics=LabelEncoder() 
#calling  LabelEncoder

In [48]:
inputs['Outlook_n']=Numerics.fit_transform(inputs['Outlook'])
inputs['Temp_n']=Numerics.fit_transform(inputs['Temp'])
inputs['Humidity_n']=Numerics.fit_transform(inputs['Humidity'])
inputs['Windy_n']=Numerics.fit_transform(inputs['Windy'])
inputs

     Outlook  Temp Humidity Windy  Outlook_n  Temp_n  Humidity_n  Windy_n
0      Rainy   Hot     High     f          1       1           0        0
1      Rainy   Hot     High     t          1       1           0        1
2   Overcast   Hot     High     f          0       1           0        0
3      Sunny  Mild     High     f          2       2           0        0
4      Sunny  Cool   Normal     f          2       0           1        0
5      Sunny  Cool   Normal     t          2       0           1        1
6   Overcast  Cool   Normal     t          0       0           1        1
7      Rainy  Mild     High     f          1       2           0        0
8      Rainy  Cool   Normal     f          1       0           1        0
9      Sunny  Mild   Normal     f          2       2           1        0
10     Rainy  Mild   Normal     t          1       2           1        1
11  Overcast  Mild     High     t          0       2           0        1
12  Overcast   Hot   Normal     f          0       1           1        0
13     Sunny  Mild     High     t          2       2           0        1

In [49]:
inputs_n=inputs.drop(['Outlook','Temp','Humidity','Windy'],axis=1)
inputs_n

    Outlook_n  Temp_n  Humidity_n  Windy_n
0           1       1           0        0
1           1       1           0        1
2           0       1           0        0
3           2       2           0        0
4           2       0           1        0
5           2       0           1        1
6           0       0           1        1
7           1       2           0        0
8           1       0           1        0
9           2       2           1        0
10          1       2           1        1
11          0       2           0        1
12          0       1           1        0
13          2       2           0        1

In [50]:
from sklearn.naive_bayes import GaussianNB

In [52]:
model = GaussianNB()
model.fit(inputs_n,target)

GaussianNB()

In [53]:
model.predict([[2,2,1,1]])

array(['yes'], dtype='<U3')

In [54]:
model.score(inputs_n,target)*100

85.71428571428571