In [43]:
import pandas as pd
from sklearn import linear_model

In [44]:
df=pd.read_csv("Dry_Bean_Dataset.csv")
df

,Area,Perimeter,MajorAxisLength,MinorAxisLength,AspectRation,Eccentricity,ConvexArea,EquivDiameter,Extent,Solidity,roundness,Compactness,ShapeFactor1,ShapeFactor2,ShapeFactor3,ShapeFactor4,Class
0,41487,815.900,299.046841,177.081490,1.688753,0.805826,42483,229.832306,0.689176,0.976555,0.783156,0.768550,0.007208,0.001551,0.590668,0.997493,BARBUNYA
1,41488,759.552,283.142777,186.985489,1.514250,0.750920,42005,229.835076,0.708434,0.987692,0.903686,0.811729,0.006825,0.001828,0.658903,0.997744,BARBUNYA
2,42012,809.770,266.700396,202.381088,1.317813,0.651285,43087,231.281949,0.770976,0.975050,0.805119,0.867198,0.006348,0.002215,0.752032,0.991037,BARBUNYA
3,43122,838.186,296.404589,185.657600,1.596512,0.779530,44074,234.317382,0.731986,0.978400,0.771308,0.790532,0.006874,0.001656,0.624941,0.997726,BARBUNYA
4,43145,799.426,273.402945,201.266886,1.358410,0.676813,43812,234.379863,0.766123,0.984776,0.848367,0.857269,0.006337,0.002111,0.734910,0.998309,BARBUNYA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1839,237270,1921.685,738.144502,412.921647,1.787614,0.828895,240671,549.637650,0.784115,0.985869,0.807399,0.744621,0.003111,0.000590,0.554460,0.991160,BOMBAY
1840,241322,1895.940,726.373493,427.370120,1.699636,0.808598,244319,554.311026,0.820823,0.987733,0.843641,0.763121,0.003010,0.000630,0.582354,0.989790,BOMBAY
1841,248424,1884.557,715.053040,446.043618,1.603101,0.781591,251082,562.408446,0.807536,0.989414,0.878992,0.786527,0.002878,0.000679,0.618625,0.991718,BOMBAY
1842,251432,1919.868,719.125690,450.926187,1.594775,0.778981,257425,565.803115,0.766776,0.976719,0.857211,0.786793,0.002860,0.000676,0.619043,0.987235,BOMBAY
1843,254616,1985.370,738.860154,447.418329,1.651386,0.795806,263261,569.374358,0.783747,0.967162,0.811732,0.770612,0.002902,0.000631,0.593843,0.980663,BOMBAY

In [45]:
df_linear=df[['Area','Perimeter']]
df_linear

        Area  Perimeter
0      41487    815.900
1      41488    759.552
2      42012    809.770
3      43122    838.186
4      43145    799.426
...      ...        ...
1839  237270   1921.685
1840  241322   1895.940
1841  248424   1884.557
1842  251432   1919.868
1843  254616   1985.370

[1844 rows x 2 columns]

In [46]:
linear=df_linear.drop('Area',axis=1)
linear

      Perimeter
0       815.900
1       759.552
2       809.770
3       838.186
4       799.426
...         ...
1839   1921.685
1840   1895.940
1841   1884.557
1842   1919.868
1843   1985.370

[1844 rows x 1 columns]

In [47]:
model=linear_model.LinearRegression()

In [50]:
model.fit(linear,df_linear.Area)

LinearRegression()

In [51]:
model.predict([[15]])

array([-120157.05630074])

In [52]:
df_multilinear=df[['Area','Perimeter','MajorAxisLength','MinorAxisLength']]
df_multilinear

        Area  Perimeter  MajorAxisLength  MinorAxisLength
0      41487    815.900       299.046841       177.081490
1      41488    759.552       283.142777       186.985489
2      42012    809.770       266.700396       202.381088
3      43122    838.186       296.404589       185.657600
4      43145    799.426       273.402945       201.266886
...      ...        ...              ...              ...
1839  237270   1921.685       738.144502       412.921647
1840  241322   1895.940       726.373493       427.370120
1841  248424   1884.557       715.053040       446.043618
1842  251432   1919.868       719.125690       450.926187
1843  254616   1985.370       738.860154       447.418329

[1844 rows x 4 columns]

In [53]:
x=df_multilinear[['Area','Perimeter','MajorAxisLength']]
x

        Area  Perimeter  MajorAxisLength
0      41487    815.900       299.046841
1      41488    759.552       283.142777
2      42012    809.770       266.700396
3      43122    838.186       296.404589
4      43145    799.426       273.402945
...      ...        ...              ...
1839  237270   1921.685       738.144502
1840  241322   1895.940       726.373493
1841  248424   1884.557       715.053040
1842  251432   1919.868       719.125690
1843  254616   1985.370       738.860154

[1844 rows x 3 columns]

In [54]:
y=df_multilinear[['MinorAxisLength']]
y

      MinorAxisLength
0          177.081490
1          186.985489
2          202.381088
3          185.657600
4          201.266886
...               ...
1839       412.921647
1840       427.370120
1841       446.043618
1842       450.926187
1843       447.418329

[1844 rows x 1 columns]

In [55]:
model=linear_model.LinearRegression()

In [56]:
model.fit(x,y)

LinearRegression()

In [57]:
model.intercept_

array([199.31916836])

In [58]:
model.coef_

array([[ 0.0019426 ,  0.13535674, -0.63700504]])

In [59]:
model.predict([[1345.46,1478.87,1276.82]])

array([[-411.23288924]])